body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: rgb(53, 48, 48);
  color: white;
  flex: 1;
}

h2 {
  text-align: center;
  margin-top: 15px;
}

table{
  margin: auto;
}

.btn-primary{
  margin-top: 15px;
}

.tasks_list {
  text-align: center;
}

.form-group label,
.form-group input {
    margin-bottom: 10px;
}

.form_edit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content_edit_buttons{
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 7px;
}

.creation_date {
  font-size: 10px;
}

.completed_task {
  text-decoration: line-through;
  opacity: 0.6;
}

.form-check-input {
  padding: 15px;
  margin: 0;
}

.filter_buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filter_buttons a {
  background-color: #6c757d;
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
  padding: 5px 10px;
}

.filter_buttons a:hover {
  background-color: #495057;
}

.filter_buttons a.active {
  background-color: #1c7723;
  color: #fff;
  border: 1px solid #007bff;
}