body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: rgb(53, 48, 48);
  color: white;
  flex: 1;
}

h2 {
  text-align: center;
}

.tasks_list {
  text-align: center;
}

.form_edit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.creation_date {
  font-size: 10px;
}

.completed_task {
  text-decoration: line-through;
  opacity: 0.6;
}

.form-check-input {
  padding: 15px;
  margin: 0;
}